.post-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.post-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  border-radius: 4px;
}
.post-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.6rem 0;
}
.post-meta {
  font-size: 0.8rem;
  color: #ff2b6d;
  font-weight: 600;
  margin-top: 0.5rem;
}
.post-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.post-author-date-views{
  font-size: 0.9rem;
}

.post-author-date-views span:nth-child(1) {
  color: #000000;
  font-weight: 600;
}

.post-author-date-views span {
  color: #666;
  font-weight: 400;
}

.post-excerpt {
  font-size: 1rem;
  color: #666;
  margin: 0;
}
